body{
	color: black;
	font-family: 'Sen', sans-serif;
	text-align: center;
}

h1{
	text-align: center;
}

p{
	font-size: 1.5vw;
}

.landscape{
	position: relative;
  	text-align: center;
  	color: white;
}

.bigIMG{
	width: 100%;
	max-width: 2200px;
}

.insideTextBig{
	color: black;
	font-weight: bold;
	position: absolute;
	top: 59%;
  	left: 25%;
  	transform: translate(-50%, -50%);
}

.insideTextNormal{
	color: black;
	font-weight: bold;
	position: absolute;
	top: 69%;
  	left: 43%;
  	transform: translate(-50%, -50%);
}

.bigMinor{
	font-size:3.5vw;
}

.bigMajor{
	font-size:5.5vw;
}

.bigH{
	font-size:9.5vw;
}

#topBtn{
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 22px;
	width: 50px;
	height: 50px;
	background: green;
	color: white;
	border: none;
	cursor: pointer;
	display: none;
}


@media screen and (max-width: 400px) {
	.myName{
		font-size: 4.2vw;
	}
}

@media screen and (min-width: 1920px) {
  .bigMinor{
     font-size: 67px;
  }
  .bigMajor{
     font-size: 106px;
  }
  .bigH{
     font-size: 184px;
  }
}

@media screen and (max-width: 650px) {
	.nav-link{
		font-size: 14.5px;
	}
}



.nav-link{
	position: relative;
	display: block;
  	padding: 10px;
  	color: #aaa;
  	font-weight: 500;
  	text-transform: uppercase;
}

.nav-link:after,
.nav-link:before{
	transition: all .3s;
}

.nav-link:hover{
  	position: relative;
}

.nav-link:after{
	position: absolute;
  	bottom: 5px;
  	left: 0;
  	right: 0;
 	margin: auto;
  	width: 0%;
  	content: '.';
  	color: transparent;
  	background: #aaa;
  	height: 1.5px;
}

.nav-link:hover:after{
  width: 80%;
}


@-webkit-keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.rounded{
	width:11vw;
	padding:1vw;
	margin: 1vw;
}

#contact_img{
	padding:5vw;
}

.text_section{
	margin-bottom: 3vw;
}

.section{
	margin-top: 5vw;
}